#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

.other{
  border: 2px solid white;
  border-radius: 10px;
  width: min-content;
  padding: 5px;
  position: absolute;
  bottom: -30px;
  background-color: black;
  z-index: 1;
  padding: 10px;
}

.detail{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  border: 2px solid white;
  width: 20%;
}